<%# <h1>Pages#home</h1> %>
<p>Find me in app/views/pages/home.html.erb</p>
 <p><%= @current_time %></p>
 <div class="bg-blue-500 text-white p-4">
  This is a Tailwind CSS styled element.
</div>

<div class="bg-midnight text-tahiti">
  This is a Tailwind CSS styled element. 
</div>